<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no,  user-scalable=no, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Unbreakable App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style/main.css">
        <link rel="stylesheet" href="style/loader.css">

    </head>
</head>

<body>
    <div id="app" class="app">
        <!-- ///////////// Main //////////// -->
        <div class="main" v-if="view==='main'">
            <div class="titleMain"><span>Unbreakable</span><span>App</span></div>
            <div class="enterMain" @click="changeView('menu')"><span>Enter</span></div>
        </div>


        <!-- ///////////// Menu //////////// -->

        <div class="baseMenu" v-if="view === 'menu'">
            <div class="background">
                <div class="section borderR borderD" @click="changeView('routines')"><span
                        class="borderWhite">Routines</span></div>
                <div class="section borderL borderD" @click="changeView('disciplines')">
                    <span class="borderWhite">Disciplines</span></div>
                <div class="section borderR borderU" @click="changeView('elements')">
                    <span class="borderWhite">Elements</span></div>
                <div class="section borderL borderU"><span class="borderWhite" @click="changeView('about')">About</span>
                </div>
            </div>
        </div>

        <!-- ///////////// Disciplines //////////// -->
        <div class="disciplineTitleBox" v-if="view === 'disciplines'">
            <h1 class="disciplineTitle">Discipline</h1>
            <div class="disciplinesBox">

                <div v-for="discipline in disciplines" class="discipline"><span>{{discipline.name}}</span></div>
            </div>
        </div>


        <!-- ///////////// Profile //////////// -->

        <div class="profileBackground" v-if="view==='profile'">
            <h1 class="profileTitle">Profile</h1>
            <div v-if="updateUserInfoOK != null" class="infoCreatingUserOk">{{updateUserInfoOK}}</div>
            <span v-if="creatingUserInfoOk!=null" class="infoCreatingUserOk">{{creatingUserInfoOk}}</span>
            <span v-if="creatingUserInfoKo!=null" class="infoCreatingUserKo">{{creatingUserInfoKo}}</span>
            <span v-if="deleteUserInfoOK!=null" class="infoCreatingUserOk">{{deleteUserInfoOK}}</span>
            <span v-if="deleteUserInfoKO!=null" class="infoCreatingUserKo">{{deleteUserInfoKO}}</span>


            <form onsubmit="return false">
                <div class="form">
                    <label>Name <input type="username" placeholder="Name" id="userName" required></label>
                    <label>Password <input type="password" placeholder="Password" id="password" required></label>
                    <button @click="createUser">Create</button>
                </div>
            </form>

            <div class="listOfUsers">
                <span class="subTitle">Users</span>
                <div v-for="user in users" class="user">
                    <div class="userName">{{user.name}}</div>
                    <div class="skillBox">
                        <div class="skills">PushUps: <span class="red">{{user.PushUps}}</span> </div>
                        <div class="skills">PullUps: <span class="red">{{user.PullUps}}</span></div>
                        <div class="skills">Handstand Hold: <span class="red">{{user.HandstandHold}}</span></div>
                        <div class="skills">Handstand PushUps: <span class="red">{{user.HandstandPushUp}}</span></div>
                        <div class="skills">Frontlever: <span class="red">{{user.FrontLever}}</span></div>
                        <div class="skills">Backlever: <span class="red">{{user.BackLever}}</span></div>
                    </div>
                    <button class="btn-danger" @click="personalProfileIn(user.name)">Edit</button>
                </div>

            </div>
        </div>

        <!-- /////////////Personal Profile //////////// -->
        <div v-if="view == 'personalProfile'" class="profilePersonalBackground">
            <h1 class="profileTitle">{{users.name}}</h1>
            <div v-if="updateUserInfoKo != null" class="infoCreatingUserKo">{{updateUserInfoKo}}</div>
            <form onsubmit="return false" class="formProfile">

                <div class="row myRow">
                    <div class="col-6">Current Push ups: <span class="red">{{users.PushUps}}</span></div>
                    <div class="col-6">New Record: <input type="number" placeholder="Push ups" id="pshup"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current Pull ups: <span class="red">{{users.PullUps}}</span></div>
                    <div class="col-6">New Record: <input type="number" placeholder="Pull ups" id="pllup"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current HS Hold: <span class="red">{{users.HandstandHold}}</span></div>
                    <div class="col-6">New Record: <input type="number" placeholder="Handstand Hold" id="hh"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current HS Push up: <span class="red">{{users.HandstandPushUp}}</span></div>
                    <div class="col-6">New Record: <input type="number" placeholder="Handstand Push ups" id="hp"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current Frontlever: <span class="red">{{users.FrontLever}}</span></div>
                    <div class="col-6">New Record: <input type="number" placeholder="Frontlever" id="fl"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current Backlever: <span class="red">{{users.BackLever}}</span></div>
                    <div class="col-6">New Record: <input type="number" placeholder="Backlever" id="bl"></div>
                </div>

                <div class="flexCenter">
                    <div class="col-6 myRow">Password <input type="password" placeholder="Password" id="password"></div>
                    <div class="col-6 myRow"><button class="btn-danger" @click="updateProfile()">Update</button>
                        <button class="btn-danger" @click="changeView('deleteUser')">Delete</button></div>
                </div>



            </form>
        </div>

        <!-- ///////////// Elements //////////// -->



        <div class="disciplineTitleBox" v-if="view === 'elements'">
            <h1 class="disciplineTitle">Elements</h1>
            <div class="infoCenter">


                <div class="disciplinesBox">
                    <div class="element" data-toggle="collapse" href="#collapseStr" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <span class="elementTitle">Strength</span>
                        <div v-for="element in elements" class="miniElement collapse" id="collapseStr"><span
                                v-if="element.sphere === 'strength'">{{element.name}}</span></div>
                    </div>
                    <div class="element" data-toggle="collapse" href="#collapseAgi" role="button" aria-expanded="false"
                        aria-controls="collapseAgi">
                        <span class="elementTitle">Agility</span>
                        <div v-for="element in elements" class="miniElement collapse" id="collapseAgi"><span
                                v-if="element.sphere === 'agility'">{{element.name}}</span></div>

                    </div>
                    <div class="element" data-toggle="collapse" href="#collapseFlex" role="button" aria-expanded="false"
                        aria-controls="collapseFlex">
                        <span class="elementTitle">Flexibility</span>
                        <div v-for="element in elements" class="miniElement collapse" id="collapseFlex"><span
                                v-if="element.sphere === 'flexibility'">{{element.name}}</span></div>

                    </div>
                    <div class="element" data-toggle="collapse" href="#collapseEnd" role="button" aria-expanded="false"
                        aria-controls="collapseEnd">
                        <span class="elementTitle">Endurance</span>
                        <div v-for="element in elements" class="miniElement collapse" id="collapseEnd"><span
                                v-if="element.sphere === 'endurance'">{{element.name}}</span></div>

                    </div>
                    <div class="element" data-toggle="collapse" href="#collapseTech" role="button" aria-expanded="false"
                        aria-controls="collapseTech">
                        <span class="elementTitle">Technique</span>
                        <div v-for="element in elements" class="miniElement collapse" id="collapseTech"><span
                                v-if="element.sphere === 'technique'">{{element.name}}</span></div>

                    </div>
                    <div class="element" data-toggle="collapse" href="#collapseSense" role="button"
                        aria-expanded="false" aria-controls="collapseSense">
                        <span class="elementTitle">Senses</span>
                        <div v-for="element in elements" class="miniElement collapse" id="collapseSense"><span
                                v-if="element.sphere === 'senses'">{{element.name}}</span></div>

                    </div>
                </div>
            </div>
        </div>


        <!-- ///////////// RoutinesMain //////////// -->

        <div class="routinesMain" v-if="view == 'routines'">
            <div class="routinesMainTitle">
                Routines
            </div>
            <div class="routinesMainBox">
                <div class="routineLevel" @click="generateRoutine('beginner', 'routine' )">Beginner</div>
                <div class="routineLevel" @click="generateRoutine('advanced', 'routine')">Advanced</div>
                <div class="routineLevel" @click="generateRoutine('master', 'routine')">Master</div>
            </div>
        </div>



        <!-- ///////////// RoutineIn //////////// -->

        <div class="routineInMain" v-if="view == 'routine'">
            <div>
                <p>Between 8-12 repetitions of each exercice. If any hold, stand for 30 seconds. At least 5 rounds of
                    each</p>
            </div>
            <div v-for="exercice in routine">
                <div>{{exercice.group}}, {{exercice.variation}}</div>
            </div>
        </div>

        <!-- ///////////// About //////////// -->
        <div class="about" v-if="view=='about'">
            <div>
                Unbreakable World's Training
                <p>&copy; All rights reserved</p>
                <p>For any inquiries contact ojkalp@gmail.com</p>
            </div>
        </div>


        <!-- ///////////// Cronometer //////////// -->
        <div class="cronometerMain" v-if="view=='cronometer'">
            <div class="routinesMainTitle">
                Cronometer
            </div>
            <div class="time">

            </div>
            <div class="buttonsDiv">
                <div class="buttonsCronometer">Init</div>
                <div class="buttonsCronometer">Stop</div>
                <div class="buttonsCronometer">Reset</div>
            </div>
        </div>



        <!-- ///////////// Delete User //////////// -->

        <div class="deleteUser" v-if="view=='deleteUser'">
            Password  <input type="password" placeholder="Password" id="passwordDelete" required>
            <button class="btn-danger" @click="deleteProfile()">Delete</button>
        </div>

        <!-- ///////////// NavBar //////////// -->

        <div class="navBar fixed-bottom" v-if="view!='main'&& view!='loading'">
            <img v-show="view != 'menu'" src="style/assets/back.png" class="iconBar" alt="back" @click="back()">
            <div class="iconBar" v-if="view==='menu'"></div>
            <img src="style/assets/profile.png" class="iconBar" alt="profile" @click="changeView('profile')">
            <img src="style/assets/time.png" class="iconBar" @click="changeView('cronometer')" alt="time">
        </div>



        <!-- ///////////// Loading //////////// -->

        <div class="background fixed-bottom loading" v-if="view === 'loading'">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>

    </div>



    <!-- vuejs development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="scripts/main.js"></script>
</body>

</html>