<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no,  user-scalable=no, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Unbreakable App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style/main.css">
        <link rel="stylesheet" href="style/loader.css">

    </head>
</head>

<body>
    <div id="app" class="app">
        <!-- ///////////// Main //////////// -->
        <div class="main" v-if="view==='main'">
            <div class="titleMain"><span>Unbreakable</span><span>App</span></div>
            <div class="enterMain" @click="changeView('menu')"><span>Enter</span></div>
        </div>


        <!-- ///////////// Menu //////////// -->

        <div class="baseMenu" v-if="view === 'menu'">
            <div class="background">
                <div class="section borderR borderD"><span>Routines</span></div>
                <div class="section borderL borderD" @click="changeView('disciplines')">
                    <span>Disciplines</span></div>
                <div class="section borderR borderU"><span>Elements</span></div>
                <div class="section borderL borderU"><span>About</span></div>
            </div>
        </div>

        <!-- ///////////// Disciplines //////////// -->
        <div class="disciplineTitleBox" v-if="view === 'disciplines'">
            <h1 class="disciplineTitle">Discipline</h1>
            <div class="disciplinesBox">

                <div v-for="discipline in disciplines" class="discipline"><span>{{discipline.name}}</span></div>
            </div>
        </div>


        <!-- ///////////// Profile //////////// -->

        <div class="profileBackground" v-if="view==='profile'">
            <h1 class="profileTitle">Profile</h1>
                <span v-if="creatingUserInfoOk!=null" class="infoCreatingUserOk">{{creatingUserInfoOk}}</span>
                <span v-if="creatingUserInfoKo!=null" class="infoCreatingUserKo">{{creatingUserInfoKo}}</span>

            <form onsubmit="return false">
                <div class="form">                    
                    <label>Name <input type="username" placeholder="Name" id="userName" required></label> 
                    <label>Password <input type="password" placeholder="Password" id="password" required></label>    
                    <button @click="createUser">Create</button>
                </div>
            </form>

            <div  class="listOfUsers">
                <span class="subTitle">List of Users</span>
                <div v-for="user in users" class="user">{{user.name}}</div>
                <div v-for="user in users" class="user">{{user.PushUps}}</div>

            </div>
        </div>


        <!-- ///////////// NavBar //////////// -->

        <div class="navBar fixed-bottom" v-if="view!='main'&& view!='loading'">
            <img v-show="view != 'menu'" src="style/assets/back.png" class="iconBar" alt="back" @click="back()">
            <div class="iconBar" v-if="view==='menu'"></div>
            <img src="style/assets/profile.png" class="iconBar" alt="profile" @click="changeView('profile')">
            <img src="style/assets/time.png" class="iconBar" alt="time">
        </div>



        <!-- ///////////// Loading //////////// -->

        <div class="background fixed-bottom loading" v-if="view === 'loading'">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>

    </div>



    <!-- vuejs development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="scripts/main.js"></script>
</body>

</html>