<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no,  user-scalable=no, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Unbreakable App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style/main.css">
        <link rel="stylesheet" href="style/loader.css">

    </head>
</head>

<body>
    <div id="app" class="app">
        <!-- ///////////// Main //////////// -->
        <div class="main" v-if="view==='main'">
            <div class="titleMain"><span>Unbreakable</span><span>App</span></div>
            <div class="enterMain" @click="changeView('menu')"><span>Enter</span></div>
        </div>


        <!-- ///////////// Menu //////////// -->

        <div class="baseMenu" v-if="view === 'menu'">
            <div class="background">
                <div class="section borderR borderD"><span class="borderWhite">Routines</span></div>
                <div class="section borderL borderD" @click="changeView('disciplines')">
                    <span class="borderWhite">Disciplines</span></div>
                <div class="section borderR borderU"><span class="borderWhite">Elements</span></div>
                <div class="section borderL borderU"><span class="borderWhite">About</span></div>
            </div>
        </div>

        <!-- ///////////// Disciplines //////////// -->
        <div class="disciplineTitleBox" v-if="view === 'disciplines'">
            <h1 class="disciplineTitle">Discipline</h1>
            <div class="disciplinesBox">

                <div v-for="discipline in disciplines" class="discipline"><span>{{discipline.name}}</span></div>
            </div>
        </div>


        <!-- ///////////// Profile //////////// -->

        <div class="profileBackground" v-if="view==='profile'">
            <h1 class="profileTitle">Profile</h1>
            <span v-if="creatingUserInfoOk!=null" class="infoCreatingUserOk">{{creatingUserInfoOk}}</span>
            <span v-if="creatingUserInfoKo!=null" class="infoCreatingUserKo">{{creatingUserInfoKo}}</span>

            <form onsubmit="return false">
                <div class="form">
                    <label>Name <input type="username" placeholder="Name" id="userName" required></label>
                    <label>Password <input type="password" placeholder="Password" id="password" required></label>
                    <button @click="createUser">Create</button>
                </div>
            </form>

            <div class="listOfUsers">
                <span class="subTitle">Users</span>
                <div v-for="user in users" class="user">
                    <div class="userName">{{user.name}}</div>
                    <div class="skillBox">
                        <div class="skills">PushUps: {{user.PushUps}} </div>
                        <div class="skills">PullUps: {{user.PullUps}}</div>
                        <div class="skills">Handstand Hold: {{user.HandstandHold}}</div>
                        <div class="skills">Handstand PushUps: {{user.HandstandPushUp}}</div>
                        <div class="skills">Frontlever: {{user.FrontLever}}</div>
                        <div class="skills">Backlever: {{user.BackLever}}</div>
                    </div>
                    <button class="btn-danger" @click="personalProfileIn(user.name)">Edit</button>
                </div>

            </div>
        </div>

        <!-- /////////////Personal Profile //////////// -->
        <div v-if="view == 'personalProfile'" class="profilePersonalBackground">
            <h1 class="profileTitle">{{users.name}}</h1>
            <form onsubmit="return false" class="formProfile">

                <div class="row myRow">
                    <div class="col-6">Current Push ups: {{users.PushUps}}</div>
                    <div class="col-6">New Record: <input type="number" placeholder="Push ups" id="pshup"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current Pull ups: {{users.PullUps}}</div>
                    <div class="col-6">New Record: <input type="number" placeholder="Pull ups" id="pllup"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current HS Hold: {{users.HandstandHold}}</div>
                    <div class="col-6">New Record: <input type="number" placeholder="Handstand Hold" id="hh"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current HS Push up: {{users.HandstandPushUp}}</div>
                    <div class="col-6">New Record: <input type="number" placeholder="Handstand Push ups" id="hp"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current Frontlever: {{users.FrontLever}}</div>
                    <div class="col-6">New Record: <input type="number" placeholder="Frontlever" id="fl"></div>
                </div>
                <div class="row myRow">
                    <div class="col-6">Current Backlever: {{users.BackLever}}</div>
                    <div class="col-6">New Record: <input type="number" placeholder="Backlever" id="bl"></div>
                </div>

                <div class="flexCenter">
                    <div class="col-6 myRow">Password <input type="password" placeholder="password"></div>
                    <div class="col-6 myRow"><button class="btn-danger" @click="updateProfile()">Update</button></div>
                </div>
                    
                

            </form>
        </div>


        <!-- ///////////// NavBar //////////// -->

        <div class="navBar fixed-bottom" v-if="view!='main'&& view!='loading'">
            <img v-show="view != 'menu'" src="style/assets/back.png" class="iconBar" alt="back" @click="back()">
            <div class="iconBar" v-if="view==='menu'"></div>
            <img src="style/assets/profile.png" class="iconBar" alt="profile" @click="changeView('profile')">
            <img src="style/assets/time.png" class="iconBar" alt="time">
        </div>



        <!-- ///////////// Loading //////////// -->

        <div class="background fixed-bottom loading" v-if="view === 'loading'">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>

    </div>



    <!-- vuejs development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="scripts/main.js"></script>
</body>

</html>