html,
body {
    height: 100vh;
    min-height: 100vh;
    
}

body {
    background: linear-gradient(37deg, rgba(41, 41, 47, 1) 0%, rgba(86, 86, 103, 1) 35%, rgba(143, 152, 167, 1) 100%);
    background-attachment:fixed;

}
body::after{
    background: url(assets/BASIC_NOSHADE.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0;
    z-index: -1;

}

.app{
    height: 100vh;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.enterMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    color: white;
    padding-top: 5px;
    margin-bottom: 269px;
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
    border: solid rgb(255, 255, 255) 2px;

}
.baseMenu{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    color: rgba(224, 224, 224, 0.897);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);
}

.titleMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    color: rgba(224, 224, 224, 0.897);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);
    padding-top: 86px;
}

.titleBackground{
    height: 95px;
}




.background {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 0px 50px white;
}

.section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gayathri', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    height: 150px;
 
}
.borderU{
    border-top: solid rgb(209, 209, 209) 2px;
}
.borderL{
    border-left: solid rgb(209, 209, 209) 2px;
}
.borderR{
    border-right: solid rgb(209, 209, 209) 2px;
}
.borderD{
    border-bottom: solid rgb(209, 209, 209) 2px;
}

.disciplines {
    font-family: 'Gayathri', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
}

.disciplineTitleBox{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBar{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #a2a2a27a;
    height:12vh;
}

.iconBar{
    height: 40px;
}

.disciplineTitle, .profileTitle{
    font-size: 40px;
    font-family: 'Gayathri', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.loading{
    height: 100vh;
}

.disciplinesBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.infoCreatingUserOk{
    color: rgb(22, 221, 32);
}
.infoCreatingUserKo{
    color: red;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discipline{
    width: 40%;
    font-family: 'Gayathri', sans-serif;

}

.profileBackground{
    height: 88vh;
}

.listOfUsers{
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subTitle{
    font-size: 28px;
    color: #6f1313;
    width: 100%;
    border-bottom: solid black 2px;
}

.user{
margin-bottom: 5px;
border: #5d7d62 solid 1px;
background-color: #99e4b969;
width: 90%;
}

.skillBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills{
    width: 50%;
}

.userName{
    color: #efefef;
    font-size: 24px;
}