html,
body {
    height: 100vh;
    min-height: 100vh;
    
}

body {
    background: linear-gradient(37deg, rgba(41, 41, 47, 1) 0%, rgba(86, 86, 103, 1) 35%, rgba(143, 152, 167, 1) 100%);
    background-attachment:fixed;

}
body::before{
    background: url(/style/assets/ironcross.jpg);
    background-size:cover ;
    content: "";
    display:block;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: fixed;
    background-position: center;   

}

.app{
    height: 100vh;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.enterMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    color: white;
    padding-top: 5px;
    margin-bottom: 269px;
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
    border: solid rgb(255, 255, 255) 2px;

}
.baseMenu{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    color: rgba(224, 224, 224, 0.897);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);
}

.titleMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    color: rgba(224, 224, 224, 0.897);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);
    padding-top: 86px;
}

.titleBackground{
    height: 95px;
}




.background {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 0px 50px white;
}

.borderWhite{
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}
.section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gayathri', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    height: 150px;
 
}
.borderU{
    border-top: solid rgb(209, 209, 209) 2px;
}
.borderL{
    border-left: solid rgb(209, 209, 209) 2px;
}
.borderR{
    border-right: solid rgb(209, 209, 209) 2px;
}
.borderD{
    border-bottom: solid rgb(209, 209, 209) 2px;
}

.disciplines {
    font-family: 'Gayathri', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    
}

.disciplineTitleBox{
    height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navBar{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #c7c7c740;
    height:12vh;
    box-shadow: 0px 0px 10px white;
    border: white solid 1px;
}

.iconBar{
    height: 40px;
    width: 40px;
}

.disciplineTitle, .profileTitle{
    font-size: 40px;
    font-family: 'Gayathri', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    color: rgba(224, 224, 224, 0.897);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);

}

.loading{
    height: 100vh;
}

.disciplinesBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

}

.infoCreatingUserOk{
    color: rgb(22, 221, 32);
}
.infoCreatingUserKo{
    color: red;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discipline{
    width: 40%;
    font-family: 'Gayathri', sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    background-color: rgba(214, 214, 214, 0.514);
    height: 85%;

}
.miniElement{
    width: 40%;
    font-family: 'Gayathri', sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elementTitle{
    font-size: 20px;
    border-bottom: solid 1px white;
}
.profileBackground{
    height: 88vh;
}

.listOfUsers{
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subTitle{
    font-size: 28px;
    color: white;
    width: 100%;
    border-bottom: solid white 2px;
}

.user{
width: 90%;
position: relative;
margin-bottom: 10px;
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 5px;
box-shadow:  0px 0px 10px white;
}



.skillBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #ffffff75;
    margin-bottom: 5px;
}

.skills{
    width: 50%;
    font-size: 14px;

}

.userName{
    color: white;
    font-size: 24px;
}

.profilePersonalBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.formProfile{
    width: 90%;
background: rgba(255, 255, 255, 0.48);
}
.myRow{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.red {
    color: red;
    font-weight: bold;
}

.flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.element{
    width: 45%;
    color: white;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
    flex-direction: column;
    background-color: #d6d6d687;

}

.infoCenter{
    display: flex;
    justify-content: center;
    margin-top: 61px;
}

.routinesMain{
    height: 88vh;
}

.routinesMainTitle{
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    color: rgba(224, 224, 224, 0.897);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);
}

.routinesMainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    
}

.routineLevel{
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 45%;
    color: white;
    box-shadow: 0px 0px 50px white;

}
.routineInMain{
    height: 88vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
}

.about{
    height: 88vh;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cronometerMain{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.time{
    border-radius: 50%;
    width: 80%;
    border:solid white 2px;
    height: 50%;
    box-shadow: 0px 0px 20px white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.836), 0 0 10px rgba(255, 255, 255, 0.836);

}
.buttonsCronometer{
    border: solid white 1px;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 20px white;
    color: white;
    background-color: #c7c7c700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: white;
}

.deleteUser{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainMap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

#marker {
    background-image: url('/style/assets/iconBars.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    
    cursor: pointer;
    }
     
.mapboxgl-popup {
    max-width: 200px;
    }
